::-webkit-input-placeholder { /* WebKit browsers */
    color:    #5f5f5f;
    font-size: 13px;
    font-weight: 700; 
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #5f5f5f; 
    font-size: 13px;   
    font-weight: 700;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #5f5f5f;
   font-size: 13px; 
   font-weight: 700;
}

::-moz-focus-inner {border:0;}  /* To remove outline from button */

input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus {
	
	outline: 0;
}

body{
  background-image:url(/images/brushed.png);
}

ul {
    list-style: none;
}


header.header{
  background: #777;
  border-radius: 0;
  min-height: 60px;
}

header span{
  display: inline-block;
}

header i.fa-users{
  vertical-align: middle;
}

header span.logo-container{
  line-height: 58px;
}

header span.logo-label{
  line-height: 50px;
  margin-left: 10px;
}

header label.header-lbl{
  color: #eaeaea;
  font-size: 26px;
  vertical-align: middle;
}